USE [JJOO]
GO
/****** Object:  Table [dbo].[Deporte]    Script Date: 22/8/2024 15:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deporte](
	[IdDeporte] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Foto] [text] NOT NULL,
 CONSTRAINT [PK_Deportes] PRIMARY KEY CLUSTERED 
(
	[IdDeporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deportista]    Script Date: 22/8/2024 15:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deportista](
	[IdDeportista] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [varchar](200) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Foto] [text] NOT NULL,
	[IdPais] [int] NOT NULL,
	[IdDeporte] [int] NOT NULL,
 CONSTRAINT [PK_Deportistas] PRIMARY KEY CLUSTERED 
(
	[IdDeportista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 22/8/2024 15:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Bandera] [text] NOT NULL,
	[FechaFundacion] [date] NOT NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deporte] ON 

INSERT [dbo].[Deporte] ([IdDeporte], [Nombre], [Foto]) VALUES (32, N'futbol', N'https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Football_in_Bloomington%2C_Indiana%2C_1995.jpg/640px-Football_in_Bloomington%2C_Indiana%2C_1995.jpg')
INSERT [dbo].[Deporte] ([IdDeporte], [Nombre], [Foto]) VALUES (33, N'hockey', N'https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_xl_2x/f_auto/primary/r3ivyidaipxicsw4yrnt')
INSERT [dbo].[Deporte] ([IdDeporte], [Nombre], [Foto]) VALUES (34, N'voley', N'https://images.pagina12.com.ar/styles/focal_3_2_960x640/public/2021-08/182614-e7xr9l8xsaahszr.jpg?itok=f8z1GGN3')
SET IDENTITY_INSERT [dbo].[Deporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Deportista] ON 

INSERT [dbo].[Deportista] ([IdDeportista], [Apellido], [Nombre], [FechaNacimiento], [Foto], [IdPais], [IdDeporte]) VALUES (146, N'Zilbersztein', N'Tomás', CAST(N'2024-08-22' AS Date), N'as', 1, 33)
INSERT [dbo].[Deportista] ([IdDeportista], [Apellido], [Nombre], [FechaNacimiento], [Foto], [IdPais], [IdDeporte]) VALUES (147, N'Goldberg', N'Martín', CAST(N'2024-08-22' AS Date), N'as', 1, 32)
INSERT [dbo].[Deportista] ([IdDeportista], [Apellido], [Nombre], [FechaNacimiento], [Foto], [IdPais], [IdDeporte]) VALUES (160, N'Alcaraz', N'Carlos', CAST(N'2003-05-05' AS Date), N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd8pB1hRFqnQFyDdvsxfrdFBmq-vxjH2szgA&s', 2, 32)
SET IDENTITY_INSERT [dbo].[Deportista] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [Nombre], [Bandera], [FechaFundacion]) VALUES (1, N'Afghanistan', N'https://flagcdn.com/w320/af.png', CAST(N'1747-10-08' AS Date))
INSERT [dbo].[Pais] ([IdPais], [Nombre], [Bandera], [FechaFundacion]) VALUES (2, N'Albania', N'https://flagcdn.com/w320/al.png', CAST(N'1912-11-28' AS Date))
INSERT [dbo].[Pais] ([IdPais], [Nombre], [Bandera], [FechaFundacion]) VALUES (3, N'Algeria', N'https://flagcdn.com/w320/dz.png', CAST(N'1962-07-05' AS Date))
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
ALTER TABLE [dbo].[Deportista]  WITH CHECK ADD  CONSTRAINT [FK_Deportista_Deporte] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[Deporte] ([IdDeporte])
GO
ALTER TABLE [dbo].[Deportista] CHECK CONSTRAINT [FK_Deportista_Deporte]
GO
ALTER TABLE [dbo].[Deportista]  WITH CHECK ADD  CONSTRAINT [FK_Deportistas_Paises] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Deportista] CHECK CONSTRAINT [FK_Deportistas_Paises]
GO
/****** Object:  StoredProcedure [dbo].[DeportistasPaisesDeportes]    Script Date: 22/8/2024 15:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeportistasPaisesDeportes]
as
BEGIN
select Deportista.Nombre, p.Nombre, Deporte.Nombre from Deportista 
inner join Pais p on Deportista.IdPais = p.IdPais
inner join Deporte on Deportista.IdDeporte = Deporte.IdDeporte
END
GO
