@{
    ViewData["Title"] = "Home Page";
}

<section class="titulo-index">
<div class="conjunto-interno">
<div>
<h1>JUEGOS OLÍMPICOS</h1>
<p>En los Juegos Olímpicos, se compiten en una amplia variedad de deportes, desde disciplinas tradicionales como atletismo y natación, hasta nuevas incorporaciones como skateboarding, destacando la diversidad y riqueza del evento deportivo más grande del mundo.</p>
</div>
<p>Deportes incluídos en los JJOO:</p>
</div> 
</section>
<section class="banderas-paises">
<div class="conjunto-banderas">
@{
    foreach(Deporte deporte in ViewBag.listaDeportes){
        <div class="banderita">
            <a asp-action="VerDetalleDeporte" asp-controller="Home" asp-route-paisId="@deporte.IdDeporte" class="enlace-bandera">
                <img class="banderitaimagen" src="@deporte.Foto" alt="@deporte.Nombre" />
            <p class="banderitanombre">@deporte.Nombre</p>
            </a>
        </div>
    }
}
</div>
</section>