@{
    ViewData["Title"] = "Ver Detalle Pais";
}

@{
    for(int i = 0; i < ViewBag.listaDeportistasPais.Count; i++)
    {
        <div class="container text-center">
        @{
            if((double)i % 2 != 0)
            {
                <div class="row">
                    <div class="col">
                    a
                    </div>
                    <div class="col-6">
                    a
                    </div>
                </div>
            }
        }
        </div>
    }
}