@{
    ViewData["Title"] = "Ver Detalle Pais";
}



<section>
    <div>
        <img src='@ViewBag.deportista.Foto'>
        <div>
            <h1>@ViewBag.deportista.Nombre @ViewBag.deportista.Apellido</h1>
        </div>
    </div>
</section>