@font-face {
  font-family: 'Olympic Headline';
  src: url('/OlympicHeadline-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  
}
@font-face {
  font-family: 'OlympicSerif Regular';
  src: url('/OlympicSerif-Regular.woff') format('truetype');
  font-style: normal;
  font-weight: normal;
  
}

@font-face {
  font-display: swap;
  font-family: "Olympic Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Olympic Serif"),url(/OlympicSerif-Regular.woff) format("woff2"),url(/OlympicSerif-Regular.woff) format("woff")
}

html {
  font-size: 14px;
}
*{
  margin: 0px;
  padding:0px;
  border: 1px solid black;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Olympic HeadLine";
  
  margin-bottom: 60px;
}


/* ESTO HAY QUE ARREGLARLO */
.nav-item{
  padding-bottom: 2px;
}

.nav-item:hover{
  border-bottom: 2px solid #258cfb; 
}
h1{
  /* font-family: 'Olympic Serif', Helvetica, sans-serif; */
}
p{
  font-family: "Olympic HeadLine";
}
 
.titulo-index{
  display: flex;
  justify-content: center;

}
.titulo-index .conjunto-interno{
  width: 80%;

}
.titulo-index .conjunto-interno p{
  width: 50%;
  font-size: 1.5vw;
  line-height: 2vw;
}
.titulo-index .conjunto-interno h1{
  width: 30%;
  font-size: 5vw;
  line-height: 5vw;
}
.titulo-index .conjunto-interno div{
  display: flex;
  width: 100%;
    justify-content: space-around;
}

.titulo-index .conjunto-interno p{
  font-size: 1.5vw;
  line-height: 2vw;
  margin-top: 2%;
}


.section-fotofondo{
  background-image: linear-gradient(rgb(0 0 0 / 21%), rgb(0 0 0 / 0%)), url("https://img.olympics.com/images/image/private/t_s_pog_overview_hero_xl/f_auto/primary/mk0vuxgrzgr7e8itpj5i");
  background:cover;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  
}

.section-fotofondo h1, .section-fotofondo p{
  color: white;
}
.section-fotofondo div{
  width: 80%;
  margin-top: 6%;
}
.section-fotofondo div h1{
  font-size: 6vw;
}
.section-fotofondo div p{
  font-size: 2vw;

}