@font-face {
  font-family: 'Olympic Headline';
  src: url('/OlympicHeadline-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  
}
@font-face {
  font-family: 'OlympicSerif Regular';
  src: url('/OlympicSerif-Regular.woff') format('truetype');
  font-style: normal;
  font-weight: normal;
  
}
@font-face {
  font-family: "myfont";
  src: url("/OlympicSans-Bold.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: "Olympic Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Olympic Serif"),url(/OlympicSerif-Regular.woff) format("woff2"),url(/OlympicSerif-Regular.woff) format("woff")
}

html {
  font-size: 14px;
}
*{
  margin: 0px;
  padding:0px; 
  /*border: 1px solid black;*/

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Olympic HeadLine";
  
  margin-bottom: 60px;
}

header{
  box-shadow: 0px 1px 13px 3px rgb(0 0 0 / 23%);
  position: fixed;
  width: 100vw;
  top:0;
}
.navbar-nav{
  display: flex;
  justify-content: space-around;
  width: 90vw;
}
.nav-item{
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease-in;
}
.nav-item a{
  font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}

.nav-item:hover{
  border-bottom: 2px solid #258cfb; 
}
p{
  font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
 
.titulo-index{
  display: flex;
  justify-content: center;

}
.titulo-index .conjunto-interno{
  width: 80%;
  
  margin-top: 6%;

}
.titulo-index .conjunto-interno p{
  width: 50%;
  font-size: 1.5vw;
  line-height: 2vw;
}
.titulo-index .conjunto-interno h1{
  width: 30%;
  font-size: 5vw;
  line-height: 5vw;
}
.titulo-index .conjunto-interno div{
  display: flex;
  width: 100%;
    justify-content: space-around;
    align-items: center;
}

.titulo-index .conjunto-interno p{
  font-size: 1.5vw;
  line-height: 2vw;
  margin-top: 2%;
}

.section-fotofondo{
  background-image: linear-gradient(rgb(0 0 0 / 21%), rgb(0 0 0 / 0%)), url("https://img.olympics.com/images/image/private/t_s_pog_overview_hero_xl/f_auto/primary/mk0vuxgrzgr7e8itpj5i");
  background:cover;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  
}

.section-fotofondo h1, .section-fotofondo p{
  color: white;
}
.section-fotofondo div{
  width: 70%;
  margin-top: 6%;
}
.section-fotofondo div h1{
  font-size: 6vw;
  width: 60%;
  line-height: 5vw;
}
.section-fotofondo div p{
  font-size: 1.5vw;

}

.columna
{
  border: 1px solid black;
}

.detallePais
{
  margin-top: 5%;
}

.detallePais h1
{
  font-size: 5vw;
  margin-left: 5%;
}

.detallePais p
{
  margin-left: 5%;
}

.detallePais img
{
  position: absolute;
  width: 20vw;
  left: 40vw;
  top: 27vh;
  z-index: -1;
  box-shadow: 0px 0px 10px rgb(163, 163, 163);
}

.tituloDeportistas
{
  margin-top: 32vh;
}

.contenedor{
  margin-top:4%; 
  margin-left:16%;
  width:70%;
  background-color:antiquewhite;
  border-radius:2px;
}
.formañadir{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formañadir .textoinput{
  margin-top:0%;
  margin-bottom:1%;
  width:35%;
}
.formañadir .opcionmultiple{
  width:20%;
  display:flex;
  margin-left:40%;
}
.formañadir .enviarañadirdeportista{
  margin-top:1%;
  margin-bottom:2%;
}
.todalapagina{
  margin-top:1%;
}

.banderas-paises{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banderas-paises .conjunto-banderas{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banderas-paises .conjunto-banderas .banderita{
  width: 15%;
  margin-bottom: 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transition: filter 0.2s ease-in;
  position: relative;
}
.banderas-paises .conjunto-banderas .banderita a{
  position: relative;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.banderas-paises .conjunto-banderas .banderita a .banderitaimagen{
   height:100%;
   width:auto;
   max-width: 100%;
   max-height: 100%;
   transition: opacity 0.1s ease-in;
}
.banderas-paises .conjunto-banderas .banderita a .banderitanombre{
  opacity:0;
  font-size: 2vw;
  font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
  position: absolute;
  left: 10px;
  bottom: -20px;
  transition: opacity 0.1s ease-in;
  transition: bottom 0.1s ease-in;
}
.banderas-paises .conjunto-banderas .banderita:hover .banderitanombre{
  opacity:1;
  bottom: -10px;  
}
.banderas-paises .conjunto-banderas .banderita:hover .banderitaimagen{
  opacity:0.3;
}

